.nav-button:hover {
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #68a5e7;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}