body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#name {
    font-size: 24px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #0000ff;
    margin-left: 5px;
    margin-bottom: 0px;
}

#tagline {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #ff0000;
}

#navbar {
    background-color: #004cff;
    overflow: hidden;
    height: 30px;
    align-items: center;
}

.nav-button {
    background-color: #6d92e8;
    color: white;
    float: right;
    border-radius: 20px;
    height: 20px;
    width: 80px;
    border: none;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#Tt-about-site {
    padding-bottom: 0px;
    font-family:monospace;
    font-size: 28px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

#about-site-para {
    padding-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    line-height: 1.0;
    margin: 20px;
    text-align: center;
}

#Video-Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0a1121;
}

#Player-box {
    background-color: #1e2a47;
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    width: 300px;
    height: 170px;
}